/*---------------------------------------------------------------------------------

 Theme Name:   bizmentors
 Theme URI:    
 Description:  Divi Child Theme for Bizmentors
 Author:       Ashley Tan
 Author URI:   
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

------------------------------ ADDITIONAL CSS HERE ------------------------------*/

/*---------------------------------------------------------
						ACTION BAR
---------------------------------------------------------*/
.action-bar {
	display: flex;
    justify-content: space-between;
	padding: 10px;
	background-color: #E4F1FA;
}

i.fa.fa-phone, i.fa.fa-envelope, i.fa.fa-facebook {
    color: #3B5998;
    font-size: 20px;
    padding: 10px;
}

/*---------------------------------------------------------
						SEARCH BAR
---------------------------------------------------------*/
.header-search-bar .search-form {
    float: right;
	padding-right: 10px;
}
 
.header-search-bar .search-field {
    background-color: transparent;
    background-image: url(http://bizmentorsgalway.staging.educatedmachine.com/wp-content/uploads/2017/11/search-icon-e1511782358691.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: none;
    cursor: pointer;
    height: 37px;
    margin: 3px 0;
    padding: 0 0 0 34px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition:         width 400ms ease, background 400ms ease;
    width: 0;
}
 
.header-search-bar .search-field:focus {
    background-color: #fff;
    border: 2px solid #c3c0ab;
    cursor: text;
    outline: 0;
    width: 230px;
}

.search-form
.search-submit { 
display:none;
}

/*---------------------------------------------------------
						HEADER
---------------------------------------------------------*/
.logo_container {
    display: none;
}

@media (min-width: 981px) { /* desktop */

	div#new-header {
	    display: flex;
		padding-top: 20px;
	}

	div#logo {
	    padding-left: 200px;
	}

	div#action-buttons {
		flex-basis: 50%;
	}

}

@media (max-width: 980px) { /* mobile */

	.header-search-bar {
		display: none;
	}

	.et_fixed_nav.et_show_nav #page-container {
   		padding-top: 0px;
	}

	div#new-header {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	#logo {
		max-width: 100%!important;
	}

	div#action-buttons {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.button.button_theme.button_js {
		float: none!important;
		margin-right: 0px!important;
	}

}

/*---------------------------------------------------------
						MENU
---------------------------------------------------------*/
ul#top-menu {
    text-transform: uppercase;
}

div#et-top-navigation {
	display: flex;
    padding-left: 0px!important;
    padding-top: 50px!important;
}

#top-menu li {
    padding-right: 12px;
}

#top-menu-nav>ul>li>a:hover {
	color: #2991d6;
}

#top-menu li.current-menu-item>a {
	color: #2991d6;
	border-top: 5px solid #2991d6;
	padding-top: 20px;
}

i.fa.fa-home {
    font-size: 30px;
}

/*---------------------------------------------------------
						PAGES
---------------------------------------------------------*/
h1, h2, h4 {
	color: #1D427B!important;
}

.et_pb_row.et_pb_row_0, .et_pb_row.et_pb_row_1, .et_pb_row.et_pb_row_2, .et_pb_row.et_pb_row_3, .et_pb_row.et_pb_row_4, .et_pb_row.et_pb_row_5, .et_pb_row.et_pb_row_6, .et_pb_row.et_pb_row_7, .et_pb_row.et_pb_row_8, .et_pb_row.et_pb_row_9, .et_pb_row.et_pb_row_10, .et_pb_row.et_pb_row_11 {
	min-width: 90%;
}

/*---------------------------------------------------------
				MENTORING PROGRAMME PAGE
---------------------------------------------------------*/
div#steps {
    display: flex;
}

/*---------------------------------------------------------
					OUR MENTORS PAGE
---------------------------------------------------------*/
form.searchandfilter {
    padding-left: 100px;
}

select, select:focus {
    padding: 5px;
    border: 1px solid #2991D6;
    border-radius: 5px;
    color: #2991D6;
}

input[type="submit"] {
    background-color: #2991D6;
    border: 1px solid #2991D6;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.mentor-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-right: 20px;
	padding-left: 20px;
}

.mentor {
    padding: 60px;
    display: flex;
    flex-basis: 20%;
}

/*---------------------------------------------------------
					MENTOR PROFILE PAGE
---------------------------------------------------------*/
.mentor-entry-content {
	display: flex;
	justify-content: center;
	min-width: 150%;
	border-bottom: 2px solid #2991d6;
	padding-bottom: 50px;
}

.mentor-left-bar {
	display: flex;
	flex-direction: column;
	flex-basis: 600px;
}

.mentor-right-bar {
	margin-left: 20px;
}

p.post-meta {
    display: none;
}

.et_right_sidebar #main-content .container::before {
    display: none!important;
}

h3 {
	font-weight: 500!important;
	font-size: 16px!important;
	color: #99CA3E!important;
}

.fa.fa-linkedin {
    color: #007BB5;
	font-size: 20px;
	padding: 5px;
}

.fa.fa-twitter {
	color: #55ACEE;
	font-size: 20px;
	padding: 5px;
}

.fa.fa-facebook {
    color: #3B5998;
    font-size: 20px;
    padding: 5px;
}

/*---------------------------------------------------------
					TESTIMONIALS SLIDES
---------------------------------------------------------*/
.et_pb_section.et_pb_section_4.et_pb_with_background.et_section_regular {
	padding: 0px!important;
}

/*---------------------------------------------------------
						NEWS PAGE
---------------------------------------------------------*/
.et_pb_posts.et_pb_module.et_pb_bg_layout_light.et_pb_blog_0 img {
    max-width: 500px !important;
}

/*---------------------------------------------------------
						PRE-FOOTER
---------------------------------------------------------*/
div#top, div#bottom, div#top-left, div#top-right, div#bottom-left, div#bottom-right {
	display: flex!important;
	align-items: center!important;
}

div#top, div#bottom {
	justify-content: center!important;
	margin-left: -10px!important;
}

div#top-left, div#top-right, div#bottom-left, div#bottom-right {
	width: 50%!important;
	padding: 25px!important;
}


div#top-left {
	background-image: url("http://bizmentorsgalway.staging.educatedmachine.com/wp-content/uploads/2017/11/Left-12-1.jpg")!important;
}

div#top-right {
	background-image: url("http://bizmentorsgalway.staging.educatedmachine.com/wp-content/uploads/2017/11/Right-1-1-1.jpg")!important;
}

div#bottom-left {
	background-image: url("http://bizmentorsgalway.staging.educatedmachine.com/wp-content/uploads/2017/11/Left-2-1-1.jpg")!important;
}

div#bottom-right {
	background-image: url("http://bizmentorsgalway.staging.educatedmachine.com/wp-content/uploads/2017/11/Right-2-1-1.jpg")!important;
}

/*---------------------------------------------------------
						FOOTER
---------------------------------------------------------*/
div#footer-widgets {
	text-align: center;
    display: flex;
    justify-content: center;
}

div#text-2 {
	margin-bottom: 0px;
}